{%extends "admin.html"%}
{% block content %}
<h1 class="text-center mb-4">Основная информация</h1>

        <!-- Карточки с информацией -->
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"> Количество отзывов <i class="bi bi-chat-heart"></i></h5>
                        <p class="card-text display-4">{{comments}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Обратных звонков <i class="bi bi-telephone-outbound"></i></h5>
                        <p class="card-text display-4">{{calls}}</p>
                    </div>
                </div>
            </div>
        </div>


<div class="m-auto w-75">
        <!-- Таблица отзывов -->
        <h2 class="mt-5">Последние 5 отзывов</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Дата регистрации</th>
                    <th>Сообщение</th>

                </tr>
            </thead>

            <tbody>
             {% for message in messages%}
                <tr>
                    <td>{{message.id}}</td>
                    <td>{{message.name}}</td>
                    <td>{{message.date}}</td>
                    <td>{{message.message[:30]}}...</td>

                </tr>
               {%endfor%}
                <!-- Добавьте больше строк по мере необходимости -->
            </tbody>
        </table>


<h2 class="mt-5">Последние 5 обратных звонков</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Дата регистрации</th>
                    <th>Номер телефона</th>

                </tr>
            </thead>

            <tbody>
             {% for phone in phones%}
                <tr>
                    <td>{{phone.id}}</td>
                    <td>{{phone.name}}</td>
                    <td>{{phone.date}}</td>
                    <td>{{phone.number}}</td>

                </tr>
               {%endfor%}
                <!-- Добавьте больше строк по мере необходимости -->
            </tbody>
        </table>
</div>
{%endblock%}