 {%extends "admin.html"%}
 {% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Название страницы</th>
      <th scope="col">URL</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
  {%for item in pages%}
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.date}}</td>
      <td>{{item.name}}</td>
      <td>{{item.url}}</td>
      <td><a href="del" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i></a> <a onclick="deletePost()" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i><a></td>
    </tr>
{%endfor%}
  </tbody>
</table>
 <script>
   function deletePost() {
    var ask = window.confirm("Удаляем запись?");
    if (ask) {
        window.location.href = "";
    }
}
   </script>
 {%endblock%}