{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold">Добро пожаловать на наш сайт!</h1>
        <p class="col-md-12 fs-6">
           Добро пожаловать на страницу проекта лендинга, разработанного с использованием микрофреймворка Flask! <br>
            Этот проект представляет собой сайт-визитку, с возможностью добавлять статические страницы, дополнительно который включает в себя админ-панель для управления контентом и форму обратной связи для взаимодействия с посетителями.
        </p>
        <p class="col-md-12 fs-6">
          Проект отлично подойдет для создания небольшого сайта любой организации работающей в сфере услуг.
            Вы можете добавлять страницы, в которых будете рассказывать о новостях в вашей организации, а так же сможете быстро получать обратную связь от клиентов.
        </p>
<div class="row">
    <div class="col-sm-3"><a href="/static/images/admin-panel.png" data-fancybox="gallery" data-caption="Админ панель" >
  <img src="/static/images/admin-panel.png" class="img-thumbnail" />
</a></div>
    <div class="col-sm-3"><a href="/static/images/feed_demo.png" data-fancybox="gallery" data-caption="Админ панель" >
  <img src="/static/images/feed_demo.png" class="img-thumbnail" />
</a></div>
    <div class="col-sm-3"><a href="/static/images/calls_demo.png" data-fancybox="gallery" data-caption="Админ панель" >
  <img src="/static/images/calls_demo.png" class="img-thumbnail" />
</a></div>
      <div class="col-sm-3"><a href="/static/images/static_page.png" data-fancybox="gallery" data-caption="Админ панель" >
  <img src="/static/images/static_page.png" class="img-thumbnail"  />
</a></div>
    </div>

        <script>Fancybox.bind("[data-fancybox]", {
  // Your custom options
});
</script><br>
        <a href="/feedback" class="btn btn-primary btn-lg" ><i class="bi bi-chat-right-text"></i> Форма обратной связи</a>
        <a href ="/admin" class="btn btn-primary btn-lg" type="button"><i class="bi bi-building-gear"></i> Админ панель</a>
    </div>
</div>
<hr>
<div class="row g-4 py-5 row-cols-1  row-cols-lg-3 ms-5 me-5">
    <div class="feature col ">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
            <i class="bi bi-wrench-adjustable"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Наши услуги</h3>
        <p>Мы предлагаем широкий спектр услуг, которые помогут вам в решении различных задач. От консультаций до полного
            сопровождения.</p>
         <a href="/services" class="btn btn-success">
            Подробнее
        </a>
    </div>

    <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
            <i class="bi bi-universal-access"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Наша команда</h3>
        <p>Наша команда состоит из профессионалов своего дела, которые всегда готовы помочь вам и ответить на все ваши
            вопросы.</p>
         <a href="/personal" class="btn btn-success">
            Подробнее
        </a>
    </div>
    <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
            <i class="bi bi-trophy-fill"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Наши проекты</h3>
        <p>Мы гордимся нашими проектами, которые реализованы с любовью и вниманием к деталям. Узнайте больше о наших
            успехах.</p>
        <a href="/projects" class="btn btn-success">
            Подробнее
        </a>
    </div>
</div>
<hr>
{% endblock %}